.container{
    width: 400px;
    background-color: #ebebeb;
    padding: 0px;
    margin: 0 auto;
}

.teclas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    align-items: center;
    padding: 5px;
    
}
input[type=button]{  
    background-color: white;
    height: 60px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    border:1px ;
}
button{  
    background-color: white;
    height: 60px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    border:1px ;
}
.memoria{
    padding: 20px 30px 0px 0px;
    font-size: 40px;
    text-align: right;
}
body{
    font: 15px  "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.letras{
    padding: 0px 20px;
}
h3{
    display: inline-block;
    font-weight: 300;
    margin: 5px 30px 0px 20px;
    font-size: 10px;
}
.titulo{
    font-weight: bold;
    padding: 10px 20px 10px 10px;
    font: 15px  "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
   
 
}